* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rotate-360 {
  transform: rotate(160deg);
}

@font-face {
  font-family: rubik;
  src: url(../assets/fonts/RubikGlitchPop-Regular.ttf);
}
.bg-primary-gradient {
  background: linear-gradient(rgb(210, 218, 216), rgb(186, 158, 122));
}

.bg-secundary-gradient {
  background: radial-gradient(circle, rgb(210, 218, 216), rgb(186, 158, 122));
}

#button-nav {
  border-color: antiquewhite;
  color: antiquewhite;
}

footer {
  width: 98%;
  margin-left: 15px;
  margin-right: 5px;
  text-align: center;
  color: antiquewhite;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  height: 330px;
}
footer .footer {
  display: grid;
  grid-template-columns: 40%;
  grid-template-rows: 20% 15% 15% 15% 15% 10%;
  justify-content: center;
}

.footer-style {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: #faebd7;
  gap: 3px;
}

header {
  padding: 20px 20px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: solid;
  content: normal;
  border-radius: 20px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border-color: antiquewhite;
}

header {
  padding: 20px 20px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: solid;
  content: normal;
  border-radius: 20px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border-color: antiquewhite;
}

body {
  background-image: url(../assets/images/footer-background-011.jpg);
  background-repeat: cover;
  background-size: 100%;
}

section {
  margin: 0 auto;
  margin-left: 25px;
  margin-right: 35px;
  width: 94%;
  color: rgb(89, 90, 19);
  padding: 20px;
}

#image-logo {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  width: 20px;
  margin: 30px;
  background-color: #56616E;
  border: none;
}

.divs {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin-left: 25px;
  height: 350px;
  color: antiquewhite;
  margin-right: 35px;
}

@media (max-width: 480px) {
  .djs {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
}
@media (max-width: 480px) {
  .iframe {
    position: absolute;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    gap: 20px;
    margin-right: 10px;
  }
}
.grid_events {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 33%;
  gap: 20px;
  box-shadow: 1px 1px 12px 2px black;
  border: solid black;
}

.grills-djs {
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-rows: 50% 50%;
  gap: 20px;
  align-items: center;
  gap: 30px;
  padding: 80px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 12px 2px black;
  border: solid black;
}

.grid-dj {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 50% 50%;
  gap: 20px;
  align-items: center;
  gap: 30px;
  padding: 80px;
  justify-content: center;
  align-items: center;
}

.titulos {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: antiquewhite;
  gap: 20px;
}

.container-iframe {
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 560px;
  width: 100%;
  display: block;
  margin: 15px 10px 10px 10px;
  gap: 20px;
  justify-content: center;
}

.a-djs {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  text-decoration: underline;
  color: black;
  border-radius: 0px 0px 0px 0px;
  font-size: 20px;
  padding: 1px;
}

a:hover {
  background-color: antiquewhite;
  text-decoration: underline;
  cursor: pointer;
}
a:active {
  background-color: aqua;
  text-decoration: line-through;
}
a:visited {
  color: rgba(28, 207, 28, 0.725);
}

p {
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 25px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

.style-articles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@keyframes animation-djs {
  0% {
    width: 80%;
  }
  50% {
    width: 85%;
  }
  100% {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .grills-djs {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 23%;
    height: 100%;
    margin: 10px 30px 10px 10px;
  }
}
@media (max-width: 480px) {
  .grid-dj {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 60% 10%;
  }
}
@media (max-width: 480px) {
  .grid_events {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18% 18% 18% 18% 18%;
    padding: 20px;
    gap: 10px;
    margin: 10px 30px 10px 10px;
  }
}
@media (max-width: 480px) {
  #section-djs {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    background-size: cover;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .footer {
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: 20% 15% 15% 15% 15% 10%;
    justify-content: center;
    margin: 10px 70px 10px 10px;
  }
}
@media (max-width: 480px) {
  #sections {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    background-size: cover;
    justify-content: center;
  }
}
#sections {
  background-image: url(/assets/images/c0a080_2d556491e4014ce59dbb6dbc4929f93a~mv2.jpg);
  margin: 0 auto;
  margin-left: 8px;
  margin-right: 15px;
  padding: 10px;
  width: 98%;
  color: antiquewhite;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 1px 1px 12px 2px black;
  gap: 50px;
  margin: 10px 10px 10px 10px;
}

.section-pseudoclass li:first-child {
  color: aqua;
}

.djs {
  background-image: url(/assets/images/ritvales.jpg);
  background-size: cover;
  width: 62%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  height: 350px;
  background-position: right;
  gap: 50px;
  color: antiquewhite;
  border-radius: 20px;
}

#section-djs {
  background-image: url(/assets/images/ritvales.jpg);
  margin: 10px 10px 10px 10px;
  margin-left: 0.5%;
  margin-right: 0%;
  padding: 10px;
  width: 98%;
  color: antiquewhite;
  border-radius: 20px;
  gap: 20px;
  background-size: cover;
  box-shadow: 1px 1px 12px 2px black;
}

body {
  background-color: antiquewhite;
}

.color-red {
  background-color: red;
}

.color-black {
  background-color: black;
}

.color-white {
  background-color: white;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}

.color-blue {
  background-color: blue;
}

.color-orange {
  background-color: orange;
}

.color-pink {
  background-color: pink;
}

.color-purple {
  background-color: purple;
}

.color-brown {
  background-color: brown;
}

.color-gray {
  background-color: gray;
}

/*# sourceMappingURL=main.css.map */
