footer{
    width: 98%;
    margin-left: 15px;
    margin-right: 5px;
    text-align: center;
    color: antiquewhite;
    border-radius: 20px;
    .footer{
        display: grid;
    grid-template-columns: 40%;
    grid-template-rows: 20% 15% 15% 15% 15% 10%;
    justify-content: center;
    }
}
