.a-djs{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    text-decoration:underline;
    color: black;
    border-radius: 0px 0px 0px 0px;
    font-size: 20px;
    padding: 1px;

}

a{
    &:hover{background-color: antiquewhite;
        text-decoration: underline;
        cursor:pointer;}
    &:active{background-color: aqua;
        text-decoration: line-through;}  
    &:visited{
        color: rgba(28, 207, 28, 0.725);
    }      
}