#sections{
    background-image: url(/assets/images/c0a080_2d556491e4014ce59dbb6dbc4929f93a~mv2.jpg);
    margin: 0 auto;;
    margin-left: 5px;
    margin-right: 15px;
    padding: 10px;
    width: 99%;
    color: antiquewhite;
    border-radius: 20px;
    gap:20px;
}

.section-pseudoclass li:first-child{
    color: aqua;
}

.djs{
    background-image: url(/assets/images/ritvales.jpg);
    background-size:cover ;
    width: 62%;
    display:inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: 350px;
    background-position: right;
    gap: 20px;
    color: antiquewhite; 
    border-radius: 20px;
}


#section-djs{
    background-image: url(/assets/images/ritvales.jpg);
    margin: 0 auto;;
    margin-left: 3%;
    margin-right: 5%;
    padding: 10px;
    width: 92%;
    color: antiquewhite;
    border-radius: 20px;
    gap:20px;
    background-size: cover;
    animation-name: animation-djs;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-timing-function: ease-in;
}